@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --primary-color: #ff564c;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-track {
    background: #111;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    min-height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.small-artist {
    font-size: 8px; /* або менше, залежно від вигляду */
    opacity: 0.8;
}

#playerContainer {
    background-color: var(--player-color, #222); /* Значення за замовчуванням */
    transition: background 0.3s ease;
}

.container {
    height: 650px;
    width: 366px;
    position: relative;
    overflow: hidden;
    background: #be9d9d;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    
}

.container #backToMenu {
    display: none;
}

#backToMenu {
    background-color: transparent; /* Прозрачный фон */
    color: white; /* Белый текст */
    font-size: 18px; /* Размер шрифта */
    padding: 12px 24px; /* Отступы */
    border: 2px solid white; /* Белая рамка */
    border-radius: 8px; /* Закругленные углы */
    cursor: pointer; /* Делаем курсор указателем */
    transition: background-color 0.3s ease, transform 0.2s ease, border-color 0.3s ease;
    display: block;
    margin: 20px auto; /* Центрирование кнопки */
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1); /* Легкая белая тень */
}

/* Эффект при наведении */
#backToMenu:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Полупрозрачный фон */
    transform: scale(1.05); /* Легкое увеличение */
    border-color: #ddd; /* Светлее при наведении */
}

/* Эффект при нажатии */
#backToMenu:active {
    transform: scale(0.98); /* Легкое уменьшение */
}


i {
    cursor: pointer;
    transition: all 0.3s;
}
i:hover {
    color: #106f9b;
}
i:active {
    color: var(--primary-color);
}

.top {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 16px;
    z-index: 10;
}

.container.active .top {
    color: #111;
}

.container.active #backToMenu {
    display: inline-block;
}

.search-btn {
    display: none; /* Hide search icon by default */
    margin: 0; /* Убираем отступы, чтобы избежать смещения */
    padding: 0; /* Убираем отступы, чтобы избежать смещения */
}

.container.active .search-btn {
    display: inline-block; /* Show search icon when container is active */
}

.search-input {
    width: 200px;
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    border-radius: 20px;
    outline: none;
    display: none;
}

.container.active .search-input {
    display: inline-block;
}

.cover-image {
    width: 100%;
    height: 366px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("data/image/song.png") no-repeat;
    background-size: cover;
    background-position: center;
    transform-origin: 0% 0%;
    transition: all 0.3s ease-in;
}

.container.active .cover-image {
    transform: scale(0.251);
    left: 23px;
    top: 60px;
    border-radius: 20px;
}

.player-body {
    position: absolute;
    top: 366px;
    left: 0;
    height: 286px;
    width: 100%;
    background-color: #111;
    transition: all 0.3s;
    display: none;
}

.container.active .player-body {
    height: 470px;
    top: 180px;
}

.list-wrapper {
    height: 425px;
    width: 100%;
    overflow: auto;
    position: absolute;
    top: 378px;
    transform-origin: 0% 0%;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.1);
}

.container.active .list-wrapper {
    top: 182px;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.list {
    width: 100%;
    border-spacing: 0px 2px;
}

.list tr {
    height: 50px;
    text-align: center;
    background-color: #1d1d1d;
    text-indent: 8px;
    transform-origin: 0% 50%;
}

.list tr:hover {
    background-color: #222;
    cursor: pointer;
}

.list .title {
    width: 215px;
    text-align: left;
    text-indent: 15px;
    transition: all 0.3s;
}

.list tr:hover .title {
    padding-left: 5px;
    width: 210px;
}

.current-song-title {
    position: absolute;
    right: 23px;
    font-size: 14px;
    bottom: -60px;
    transition: all 0.3s;
}

.container.active .current-song-title {
    bottom: 10px;
}

.info {
    position: absolute;
    left: 50%;
    top: 440px;
    transform: translateX(-50%);
    text-align: center;
    transition: all 0.3s;
}

.info h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.info h3 {
    font-size: 10px;
    color: #6d6d6d;
}

.container.active .info {
    top: 66px;
    left: 126px;
    text-align: left;
    transform: translateX(0);
    color: #111;
}

.controls {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 100px;
    z-index: 10;
    transition: all 0.3s;
}

.controls #playpause {
    font-size: 40px;
}

.container.active .controls {
    width: 216px;
    bottom: 4px;
    left: -44px;
    transform: scale(0.45);
}

.more-controls {
    color: #6d6d6d;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 20;
    transition: all 0.3s;
}

.container.active .more-controls {
    bottom: -60px;
}

.fa-heart.active {
    color: #ff564c;
}
.fa-heart.active,
.fa-random.active,
.fa-repeat.active {
    color: #ff564c;
}
.container.active .fa-heart:hover,
.menu-btn:hover,
.search-btn:hover,
#closeTrackInfo:hover,
#prev:hover,
#playpause:hover,
#next:hover,
#current-favourite:hover,
#shuffle:hover,
#repeat:hover,
#option:hover,
#closeAboutApp:hover {
    color: #ff564c; /* Цвет при наведении */
}

.bar {
    position: absolute;
    width: 320px;
    height: 2px;
    top: 580px;
    left: 23px;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.3s;
}

.container.active .bar {
    top: 120px;
    left: 85px;
    background-color: #111;
    transform: scale(0.6875);
}

.bar .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: absolute;
    top: -4px;
    left: 0;
    user-select: none;
    pointer-events: none;
    transition: all 0.3s;
}

.bar .time {
    width: 100%;
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
}

#volume-control {
    width: 100px;
    margin-left: 10px;
    cursor: pointer;
    appearance: none;
    background-color: #fff;
    height: 4px;
    border-radius: 5px;
    outline: none;
}

#volume-control::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--primary-color);
    cursor: pointer;
}

#volume-percentage {
    margin-left: 10px;
    font-size: 14px;
    color: #fff;
    min-width: 40px;
    text-align: right;
    transition: none;
}

.container.active #volume-percentage {
    color: #111;
}

/*Інформація про пісню*/
.track-info-modal {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    color: white; 
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: opacity 0.3s; 
  }
  
  .track-info-content {
    padding: 20px;
    height: 650px;
  }
  
  .close-btn {
    font-size: 18px; 
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  
  .track-info-details {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .track-cover {
    width: 140px;
    height: 140px;
    background-size: cover;
    background-position: center;
    margin-right: 15px;
    margin-top: 15px;
}
  
  .track-details h2, .track-details h3 {
    margin: 0;
  }
  
  .track-info-actions {
    margin-top: 15px;
  }
  
  .action-btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2); 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; 
    border-radius: 7px;
  }
  
  .action-btn:hover {
    background-color: rgba(255, 255, 255, 0.4); 
  }
  

/* Menu */
.main-menu {
    text-align: center;
    padding: 20px;
    width: 100%;
    display: block; /* Изначально меню должно быть видимо */
  position: relative; /* Или absolute, в зависимости от вашей структуры */
  z-index: 10; /* Убедитесь, что меню поверх других элементов */
 }
 
 .main-menu h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
 }
 
 .menu-list {
    list-style: none;
    padding: 0;
    padding-top: 50px;
 }
 
 .menu-list li {
    margin: 15px 0;
 }
 
 .menu-list button {
    width: 200px; /* Установите фиксированную ширину для всех кнопок */
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    padding: 15px 0; /* Вертикальные отступы, горизонтальные отступы убраны */
    font-size: 1.2rem;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center; /* Центрирование текста внутри кнопки */
    
}

 
 .menu-list button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
 }
 
 .player-content {
    display: none;
  }
 
 .player-content.active {
    display: block;
 }
 
 
 #chooseLuscher,
 #chooseMbtiTest,
 #chooseRhythmTest {
     width: 190px;
 }

/* ТЕСТ ЛЮШЕРА */

.luscher-test-container {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100; 
}

/* Обеспечиваем относительное позиционирование контейнера MBTI-теста */
#mbtiModal .test-content {
    position: relative;
    padding-bottom: 60px; /* Резерв для кнопки, можно настроить по необходимости */
}

/* Позиционирование кнопки закрытия MBTI-теста */
#closeMbtiModal {
    position: absolute;
    bottom: 5%;      /* Располагается на 5% от низа контейнера */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: rgba(82, 82, 82, 0.8);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.test-content {
    background-color: #be9d9d;
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* Максимальная ширина */
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.color-buttons {
    display: flex;
    flex-wrap: wrap; /* Переносит элементы на следующую строку, если они не помещаются */
    justify-content: center;
    margin-top: 20px;
}

.color-buttons button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.test-footer {
    position: absolute;
    bottom: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.test-footer button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: rgba(82, 82, 82, 0.8); /* Темный фон для кнопки */
    border: none;
    border-radius: 7px; /* Закругленные углы */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Плавные эффекты */
}
.test-footer button:hover {
    background-color: rgba(168, 147, 147, 0.9); /* Цвет при наведении */
    transform: scale(1.05); /* Легкое увеличение кнопки */
}
.test-footer button:focus {
    outline: none; /* Убираем обводку при фокусе */
}
.test-footer button:active {
    background-color: rgba(0, 0, 0, 1); /* Цвет при нажатии */
}

#chooseLuscher {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(45deg, #ff564c, #ff9a76);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

#chooseLuscher:hover {
    background: linear-gradient(45deg, #ff9a76, #ff564c);
    transform: scale(1.03);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

#chooseLuscher:active {
    transform: scale(0.98);
    background: linear-gradient(45deg, #ff564c, #ff9a76);
}

/* ТЕСТ ЛЮШЕРА */

/* Ритм. Тест */

.rhythm-test-container {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

#chooseRhythmTest {
    background-color: #4CAF50;
}

#chooseRhythmTest:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

#rhythmTapButton {
    padding: 15px 30px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(45deg, #ff564c, #ff9a76);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#rhythmTapButton:hover {
    background: linear-gradient(45deg, #ff9a76, #ff564c);
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

#rhythmTapButton:active {
    transform: scale(0.98);
    background: linear-gradient(45deg, #ff564c, #ff9a76);
}

#chooseRhythmTest {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(45deg, #ff564c, #ff9a76);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

#chooseRhythmTest:hover {
    background: linear-gradient(45deg, #ff9a76, #ff564c);
    transform: scale(1.03);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

#chooseRhythmTest:active {
    transform: scale(0.98);
    background: linear-gradient(45deg, #ff564c, #ff9a76);
}

#closeRhythmModal {
    position: absolute;
    bottom: 25px;
}

/* Ритм. Тест */

/* MBTI тест */

.mbti-test-container {
    position: absolute; 
    top: 10;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

#mbtiQuestionContainer {
    padding: 20px;
    text-align: center;
}

.mbti-options {
    margin-top: 20px;
}

.mbti-option {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: rgba(82, 82, 82, 0.8);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.mbti-option:hover {
    background-color: rgba(168, 147, 147, 0.9);
    transform: scale(1.05);
}

#closeMbtiModal {
    position: absolute; 
    bottom: -40px; 
    width: 117px; 
    display: flex;
}

#chooseMbtiTest {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(45deg, #ff564c, #ff9a76);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

#chooseMbtiTest:hover {
    background: linear-gradient(45deg, #ff9a76, #ff564c);
    transform: scale(1.03);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

#chooseMbtiTest:active {
    transform: scale(0.98);
    background: linear-gradient(45deg, #ff564c, #ff9a76);
}

#mbtiNextButton {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(45deg, #ff564c, #ff9a76);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

#mbtiNextButton:hover {
    background: linear-gradient(45deg, #ff9a76, #ff564c);
    transform: scale(1.03);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

#mbtiNextButton:active {
    transform: scale(0.98);
    background: linear-gradient(45deg, #ff564c, #ff9a76);
}

/* MBTI тест */


/* Вікно вибору варіантів */
.choice-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.choice-content {
    background-color: #be9d9d;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.choice-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.choice-buttons button {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#chooseLuscher {
    background-color: #4CAF50;
}

#chooseLuscher:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.choice-footer {
    position: absolute;
    bottom: 142px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.choice-footer button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: rgba(82, 82, 82, 0.8);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.choice-footer button:hover {
    background-color: rgba(168, 147, 147, 0.9);
    transform: scale(1.05);
}
.choice-footer button:focus {
    outline: none;
}
.choice-footer button:active {
    background-color: rgba(0, 0, 0, 1);
}

/* Options selection window */

/* Модальное окно "про YouPlayer" */
.player-container {
    position: relative;
    width: 100%;
    height: 100%; /* Плеер занимает всю доступную область */
    overflow: hidden; /* Прячем все, что выходит за границы плеера */
  }
  
  .about-app-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный черный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
    padding: 20px;
    overflow: auto;
    transition: opacity 0.3s ease-in-out;
  }
  
  .about-app-content {
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон */
    padding: 30px;
    border-radius: 16px;
    width: 100%;
    height: 100%; /* Занимает всю высоту плеера */
    max-width: 100%; /* Занимает всю ширину плеера */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
    overflow-y: auto; /* Добавляем прокрутку, если контент не помещается */
  }
  
  .about-app-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
  }

  .about-app-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.6;
  }

  .close-btn {
    font-size: 20px; /* Размер стрелки */
    color: white;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 30px;
    transition: transform 0.3s; /* Плавное увеличение */
  }
  
  .close-btn:hover {
    transform: scale(1.2); /* Увеличиваем стрелку при наведении */
  }
  
  .about-app-actions {
    margin-top: 30px;
  }
  
  .action-btn {
    background-color: rgba(255, 255, 255, 0.2); /* Полупрозрачный фон */
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .action-btn:hover {
    background-color: rgba(255, 255, 255, 0.4); /* Подсветка при наведении */
  }
  

/* Модальное окно настроек */

/* Налаштування */
.settings-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
}

.settings-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px; /* Фіксована ширина */
    min-height: 200px; /* Мінімальна висота */
}

.settings-content select {
    padding: 5px;
    font-size: 16px;
}

.settings-content button {
    background: #ff4b5c;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

.settings-content button:hover {
    background: #ff1e3c;
}

/* Показуємо модальне вікно */
.settings-container.active {
    opacity: 1;
    visibility: visible;
}

.settings-container.active .settings-content {
    transform: translateY(0);
}

.settings-content h2,
.settings-content label {
    white-space: normal;
    word-wrap: break-word;
}

#closeSettings {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(45deg, #ff564c, #ff9a76);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
    width: 160px; /* Щоб кнопка займала всю ширину контейнера */
    margin-top: 15px;
}

#closeSettings:hover {
    background: linear-gradient(45deg, #ff9a76, #ff564c);
    transform: scale(1.03);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

#closeSettings:active {
    transform: scale(0.98);
    background: linear-gradient(45deg, #ff564c, #ff9a76);
}
.color-picker {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.color-picker:hover {
    transform: scale(1.1);
}

/* Settings */