@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --primary-color: #ff564c;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-track {
    background: #111;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    min-height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.container {
    height: 650px;
    width: 366px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: #be9d9d;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    
}

.container #backToMenu {
    display: none;
}

i {
    cursor: pointer;
    transition: all 0.3s;
}
i:hover {
    color: #106f9b;
}
i:active {
    color: var(--primary-color);
}

.top {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 16px;
    z-index: 10;
}

.container.active .top {
    color: #111;
}

.container.active #backToMenu {
    display: inline-block;
}

.search-btn {
    display: none; /* Hide search icon by default */
    margin: 0; /* Убираем отступы, чтобы избежать смещения */
    padding: 0; /* Убираем отступы, чтобы избежать смещения */
}

.container.active .search-btn {
    display: inline-block; /* Show search icon when container is active */
}

.search-input {
    width: 200px;
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    border-radius: 20px;
    outline: none;
    display: none;
}

.container.active .search-input {
    display: inline-block;
}

.cover-image {
    width: 100%;
    height: 366px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("data/image/player.png") no-repeat;
    background-size: cover;
    background-position: center;
    transform-origin: 0% 0%;
    transition: all 0.3s ease-in;
}

.container.active .cover-image {
    transform: scale(0.251);
    left: 23px;
    top: 60px;
    border-radius: 20px;
}

.player-body {
    position: absolute;
    top: 366px;
    left: 0;
    height: 286px;
    width: 100%;
    background-color: #111;
    transition: all 0.3s;
    display: none;
}

.container.active .player-body {
    height: 470px;
    top: 180px;
}

.list-wrapper {
    height: 425px;
    width: 100%;
    overflow: auto;
    position: absolute;
    top: 378px;
    transform-origin: 0% 0%;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.1);
}

.container.active .list-wrapper {
    top: 182px;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.list {
    width: 100%;
    border-spacing: 0px 2px;
}

.list tr {
    height: 50px;
    text-align: center;
    background-color: #1d1d1d;
    text-indent: 8px;
    transform-origin: 0% 50%;
}

.list tr:hover {
    background-color: #222;
    cursor: pointer;
}

.list .title {
    width: 215px;
    text-align: left;
    text-indent: 15px;
    transition: all 0.3s;
}

.list tr:hover .title {
    padding-left: 5px;
    width: 210px;
}

.current-song-title {
    position: absolute;
    right: 23px;
    font-size: 14px;
    bottom: -60px;
    transition: all 0.3s;
}

.container.active .current-song-title {
    bottom: 10px;
}

.info {
    position: absolute;
    left: 50%;
    top: 440px;
    transform: translateX(-50%);
    text-align: center;
    transition: all 0.3s;
}

.info h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.info h3 {
    font-size: 10px;
    color: #6d6d6d;
}

.container.active .info {
    top: 66px;
    left: 126px;
    text-align: left;
    transform: translateX(0);
    color: #111;
}

.controls {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 100px;
    z-index: 10;
    transition: all 0.3s;
}

.controls #playpause {
    font-size: 40px;
}

.container.active .controls {
    width: 216px;
    bottom: 4px;
    left: -44px;
    transform: scale(0.45);
}

.more-controls {
    color: #6d6d6d;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 20;
    transition: all 0.3s;
}

.container.active .more-controls {
    bottom: -60px;
}

.fa-heart.active {
    color: #ff564c;
}
.fa-heart.active,
.fa-random.active,
.fa-repeat.active {
    color: #ff564c;
}
.container.active .fa-heart:hover,
.menu-btn:hover,
.search-btn:hover,
#closeTrackInfo:hover,
#prev:hover,
#playpause:hover,
#next:hover,
#current-favourite:hover,
#shuffle:hover,
#repeat:hover,
#option:hover {
    color: #ff564c; /* Цвет при наведении */
}

.bar {
    position: absolute;
    width: 320px;
    height: 2px;
    top: 580px;
    left: 23px;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.3s;
}

.container.active .bar {
    top: 120px;
    left: 85px;
    background-color: #111;
    transform: scale(0.6875);
}

.bar .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: absolute;
    top: -4px;
    left: 0;
    user-select: none;
    pointer-events: none;
    transition: all 0.3s;
}

.bar .time {
    width: 100%;
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
}

#volume-control {
    width: 100px;
    margin-left: 10px;
    cursor: pointer;
    appearance: none;
    background-color: #fff;
    height: 4px;
    border-radius: 5px;
    outline: none;
}

#volume-control::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--primary-color);
    cursor: pointer;
}

#volume-percentage {
    margin-left: 10px;
    font-size: 14px;
    color: #fff;
    min-width: 40px;
    text-align: right;
    transition: none;
}

.container.active #volume-percentage {
    color: #111;
}

/*Інформація про пісню*/
.track-info-modal {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    color: white; 
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: opacity 0.3s; 
  }
  
  .track-info-content {
    padding: 20px;
    height: 650px;
  }
  
  .close-btn {
    font-size: 18px; 
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  
  .track-info-details {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .track-cover {
    width: 140px;
    height: 140px;
    background-size: cover;
    background-position: center;
    margin-right: 15px;
    margin-top: 15px;
}
  
  .track-details h2, .track-details h3 {
    margin: 0;
  }
  
  .track-info-actions {
    margin-top: 15px;
  }
  
  .action-btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2); 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; 
    border-radius: 7px;
  }
  
  .action-btn:hover {
    background-color: rgba(255, 255, 255, 0.4); 
  }
  

/* Menu */
.main-menu {
    text-align: center;
    padding: 20px;
    width: 100%;
    display: block; /* Изначально меню должно быть видимо */
  position: relative; /* Или absolute, в зависимости от вашей структуры */
  z-index: 10; /* Убедитесь, что меню поверх других элементов */
 }
 
 .main-menu h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
 }
 
 .menu-list {
    list-style: none;
    padding: 0;
    padding-top: 50px;
 }
 
 .menu-list li {
    margin: 15px 0;
 }
 
 .menu-list button {
    width: 200px; /* Установите фиксированную ширину для всех кнопок */
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    padding: 15px 0; /* Вертикальные отступы, горизонтальные отступы убраны */
    font-size: 1.2rem;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center; /* Центрирование текста внутри кнопки */
    
}

 
 .menu-list button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
 }
 
 .player-content {
    display: none;
  }
 
 .player-content.active {
    display: block;
 }
 
 
/* ТЕСТ ЛЮШЕРА */

.luscher-test-container {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100; 
}

.test-content {
    background-color: #be9d9d;
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* Максимальная ширина */
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.color-buttons {
    display: flex;
    flex-wrap: wrap; /* Переносит элементы на следующую строку, если они не помещаются */
    justify-content: center;
    margin-top: 20px;
}

.color-buttons button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.test-footer {
    position: absolute;
    bottom: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.test-footer button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: rgba(82, 82, 82, 0.8); /* Темный фон для кнопки */
    border: none;
    border-radius: 7px; /* Закругленные углы */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Плавные эффекты */
}
.test-footer button:hover {
    background-color: rgba(168, 147, 147, 0.9); /* Цвет при наведении */
    transform: scale(1.05); /* Легкое увеличение кнопки */
}
.test-footer button:focus {
    outline: none; /* Убираем обводку при фокусе */
}
.test-footer button:active {
    background-color: rgba(0, 0, 0, 1); /* Цвет при нажатии */
}

/* ТЕСТ ЛЮШЕРА */


  

